@model VehicleModel
@{
    ViewData["Title"] = "Detalhe";
}
<h3 class="page-header">Detalhe do Item</h3>
<form asp-action="Detalhe">
    <div class="row">
        <div class="form-group col-md-8">
            <label asp-for="brand"></label>
            <input asp-for="brand" class="form-control" />
            <span asp-validation-for="brand" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label asp-for="model"></label>
            <input asp-for="model" class="form-control" />
            <span asp-validation-for="model" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="color"></label>
            <input asp-for="color" class="form-control" />
            <span asp-validation-for="color" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="year"></label>
            <input asp-for="year" class="form-control" />
            <span asp-validation-for="year" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="price"></label>
            <input asp-for="price" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="description"></label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="isNew"></label>
            <input asp-for="isNew" class="form-control" />
            <span asp-validation-for="isNew" class="text-danger"></span>
        </div>
    </div>
</form>
<hr />
<div id="actions" class="row">
    <div class="col-md-12">
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
